.tooltip {
  //   position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;

  &--date {
    border-bottom: none;
  }
}

.tooltip .tooltiptext {
  cursor: initial;
  // visibility: hidden;
  width: 50px;
  word-wrap: break-word;
  background: $color-theme-tip;
  color: $color-theme;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  transform: translate(-13px, -60px);

  &--date {
    left: 81%;
  }
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: rotate(180deg);

  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $color-theme-tip transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

// top: -165%;
// left: 188%;
